server:
  port: 8082
spring:
  application:
    name: menu-service
  datasource:
    url: jdbc:mysql://mysql:3306/menu_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cache:
    type: redis
    redis:
      time-to-live: 600000
  data:
    redis:
      host: redis
      port: 6379
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: menu-service

