server:
  port: 8085

spring:
  application:
    name: order-consumer-service
  datasource:
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    url: jdbc:shardingsphere:classpath:sharding.yaml

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
   host: localhost
   port: 5672
   username: guest
   password: guest
   listener:
      simple:
        default-requeue-rejected: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
