server:
  port: 8083
spring:
  application:
    name: cart-service
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

feign:
  client:
    config:
      default:
        connectTimeout: 3000
        readTimeout: 5000

