server:
  port: 8083
spring:
  application:
    name: cart-service
  data:
    redis:
      host: redis
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: cart-service

feign:
  client:
    config:
      default:
        connectTimeout: 3000
        readTimeout: 5000

