server:
  port: 8080

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
          - id: auth-route
            uri: lb://user-service
            predicates:
            - Path=/api/auth/**
          - id: user-route
            uri: lb://user-service
            predicates:
              - Path=/api/users/**

          - id: menu-service
            uri: lb://menu-service
            predicates:
            - Path=/api/menu/**
          - id: cart-service
            uri: lb://cart-service
            predicates:
            - Path=/api/cart/**
          - id: order-service
            uri: lb://order-service
            predicates:
            - Path=/api/orders/**
          globalcors:
            cors-configurations:
              '[/**]':
                        allowed-origin-patterns: "*"
                        allowed-methods:
                            - GET
                            - POST
                            - PUT
                            - DELETE
                            - OPTIONS
                        allowed-headers: "*"
                        allow-credentials: false

  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true